@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Inconsolata|Londrina+Outline&display=swap");

body {
  font-family: "Inconsolata", sans-serif;
  color: white;
}

.portfolio-spans {
  font-size: 16px;
  margin-bottom: 10px;
}

.column {
  margin: 0 50px 50px 0;
}
