@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Inconsolata|Londrina+Outline&display=swap");

html .stats-header {
  font-family: "Londrina Outline", cursive;
  font-size: 3em;
  letter-spacing: 0.3em;
  color: #c4bbf0;
  font-weight: bold;
  padding-bottom: 0.6em;
  margin-top: -50px;
}

p {
  color: #ffffff;
  font-family: "Inconsolata", sans-serif;
  font-size: 16px;
  /* text-align: justify;
  text-justify: inter-character; */
}

.emphasis {
  font-weight: 800;
  font-size: 20px;
  font-family: "Inconsolata", sans-serif;
  color: #c4bbf0;
  text-transform: uppercase;
  border-bottom: 1px dotted #c4bbf0;
}

.profile-pic {
  border-radius: 50%;
  border: 3px solid #c4bbf0;
  height: 250px;
  width: 250px;
  margin-left: 100px;
}

.tech-side {
  padding: 0.2em;
  margin-left: 2em;
}

.icon-img {
  height: 35px;
  width: 35px;
  margin-bottom: -5px !important;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.icon-resize {
  height: 40px;
  width: 40px;
  margin-bottom: 0 !important;
}

.tech-skill {
  display: block;
  text-align: center;
}

.project-descriptions {
  word-spacing: 0 !important;
}

.work-experience-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-right: 200px;
}
